/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 750px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}
 */
/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animated-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blob-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.7) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.7) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-mode: match-source;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.animated-bg {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #458aef, #00cfff, #69d2ff, #3a72e2);
  background-size: 200% 200%;
  animation: animated-bg 5s ease-in-out infinite;
  filter: blur(1px);
  z-index: 0;
  opacity: 0.9;
}

.gradient {
  --size: 600px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  position: relative;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: 1;
}

.gradient {
  --size: 600px;

  width: var(--size);
  height: var(--size);
} */

/* .animated-bg {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #458aef, #00cfff, #69d2ff, #3a72e2);
  background-size: 200% 200%;
  animation: animated-bg 15s ease-in-out infinite;
  filter: blur(30px);
  z-index: 0;
  opacity: 0.5;
} */

/* .blob-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 1) 100%
  );
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  transition: transform 0.3s ease-out;

  --size: 600px;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
  animation: rotate 50s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: 1;
}

.blob-bg {
  background: radial-gradient(circle at 20% 30%, #062242 0%, transparent 25%),
    radial-gradient(circle at 90% 0%, #833cfe 0%, transparent 35%),
    radial-gradient(circle at 60% 60%, #69d2ff 0%, transparent 30%),
    radial-gradient(circle at 30% 80%, #00cfff 0%, transparent 30%),
    radial-gradient(circle at 50% 50%, #3a72e2 0%, transparent 40%),
    linear-gradient(135deg, #111020, #458aef);
  background-blend-mode: screen;
  height: 100vh;
  margin: 0;
} */

/* blobGradient.css */
